<!-- 

@author Holland Aucoin
@name Hydroflask Website
@desc footer - This is a page fragment to reuse the footer
 
 -->
 
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Shop</h5>
                    <ul>
                        <li><a href="../pages/bottlesPage.php?offset=0">Bottles</a></li>
                        <li><a href="../pages/lidsPage.php?offset=0">Lids</a></li>
                        <li><a href="../pages/bootsPage.php?offset=0">Boots</a></li>
                    </ul>
                </div>
				<div class="col-sm-3">
                    <h5>Account</h5>
                    <ul>
                        <li><a href="../pages/accountPage.php">My Account</a></li>
                        <li><a href="../pages/cartPage.php">Cart</a></li>
                        <li><a href="../pages/logoutHandler.php">Log Out</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="../pages/aboutPage.php">Learn More</a></li>
                        <li><a href="../pages/contactPage.php">Contact us</a></li>
                        <li><a href="../pages/faqPage.php">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Connect</h5>
                    <ul>
                        <li><a href="https://www.facebook.com/hydroflask/" target="_blank">Facebook</a></li>
                        <li><a href="https://www.instagram.com/hydroflask/" target="_blank">Instagram</a></li>
                        <li><a href="https://twitter.com/HydroFlask" target="_blank">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2020 HydroFlask Copyright</p>
        </div>
